<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <img src="../img/me.jpg" width="50" alt="ff" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sit facere id maiores, alias ullam rem iusto, suscipit odit nihil, nam a corporis laboriosam expedita saepe quos ipsam. Repellendus ab ad vitae blanditiis ipsum. Suscipit, exercitationem ex sapiente nostrum aperiam laborum quam excepturi, laboriosam atque dolorem quibusdam, fuga repellendus ullam!</p>
</body>
</html>