<%- include('../partials/header.ejs'); %>
<%- include('../partials/nav.ejs'); %>


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h3>Welcome to your signle page.. :)</h3>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs'); %>